vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 May 2004 13:41:18 -0000
vti_extenderversion:SR|4.0.2.5322
vti_cacheddtm:TX|02 May 2004 13:41:18 -0000
vti_filesize:IR|4703
vti_cachedlinkinfo:VX|S|../images/admin/bk_page.gif S|../images/admin/css_line.gif S|../images/bk_tablehead.gif
vti_cachedsvcrellinks:VX|FSUS|wizones/images/admin/bk_page.gif FSUS|wizones/images/admin/css_line.gif NSUS|wizones/images/bk_tablehead.gif
vti_backlinkinfo:VX|
vti_sourcecontrolversion:SX|V1
vti_sourcecontrolcookie:SX|fp_internal
